
<div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
               
                <div class="product-img">
                    <img src="./assets/Abrigo1-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$499.900</span>
                    <p>Abrigo Mujer En Tejido De Punto Y Botones Decorativos</p>
                </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
               
                <div class="product-img">
                    <img src="./assets/Abrigo2-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$599.900</span>
                    <p>Abrigo Mujer Trench En Micro Fibra Cruzado Con Cinturón</p>
                </div>
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/falda1-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$99.950</span>
                    <p>Falda Mujer En Polipiel Silueta En A Con Cremallera Color Moka </p>
                </div>
                
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/Falda2-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$199.900</span>
                    <p>Falda Short Mujer Con Cinturón Decorativo Y Herraje Color Negro</p>
                </div>
                
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/blazer2-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$199.950</span>
                    <p>Chaqueta Mujer Silueta Entallada Bengalina Preteñida</p>
                </div>
               
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/blusa1-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$64.950</span>
                    <p>Blusa Mujer En Crepe Silueta Fluida Manga Seguida</p>
                </div>
              
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/blusa2-mujer-.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$50.650</span>
                    <p>Blusa Mujer En Tejido Plano Y Mangas Con Volumen Color Blanco </p>
                </div>
               
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/vestido1-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$129.950</span>
                    <p>Vestido Mujer En Satín Sublimado Cuello Camisero Negro</p>
                </div>
                
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
        <div class="swiper-slide">
            <div class="icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <img src="./assets/logo.png" alt="">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="product-content">
                <div class="product-img">
                    <img src="./assets/vestido2-mujer.png" alt="">
                </div>
                <div class="product-txt">
                    <span>$239.900</span>
                    <p>Vestido Mujer Silueta Entallada Abertura V En Espalda</p>
                </div>
    
            </div>
            <a href="#" class="btn-1">Comprar</a>
        </div>
    </div>
  </div>
  
