* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "ubuntu";
}
img {
    width: 100%;
}

body {
    background: dodgerblue;
}
header {
    height: 70px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #FBF9FD;
}

header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 150px;
}

header nav ul {
    display: flex;
}

nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #a29fa8;
    font-weight: bold;
}
header .login-signup a {
    display: inline-block;
    color: #0b2239;
    background: #C2DD8D;
    padding: 5px 12px;
    border-radius: 5px;
}

header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #0c0c0c;
}

header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color:    #FC86AE;
}
.hamburger {
    cursor: pointer;
    display: none;
    position: relative; /* Asegura que el z-index funcione correctamente */
    z-index: 1100; /* Un valor alto para estar por encima de otros elementos */
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

@media only screen and (max-width: 500px) {
    nav .login-signup {
        display: block;
        margin-top: 20px;
    }
    header .header-right .login-signup {
        display: none;
    }
    header .header-left nav.active {
        top: 70px;
    }
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
        z-index: 1050; /* Un valor menor para estar por debajo de la hamburguesa */
        /* Otros estilos... */
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}


@media only screen and (max-width: 1000px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        margin: 0;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #0b2239;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: -1;
    }
    header .header-left nav.active {
        top: 70px;
    }
    header .header-left nav ul {
        display: block;
    }
}
