<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Responsive Navbar using HTML & CSS</title>
</head>
<body>
    <header>
        <div class="header-left">

        <div class="logo">
            <img src="./assets/logo.png" alt="">
        </div>
        </div>
        <input type="checkbox" id="nav_check" hidden>
        <nav>
            <ul>
                <li>
                    <a href="" class="active">Inicio</a>
                </li>
                <li>
                    <a routerLink="/productos">Productos</a>
                </li>
                <li>
                    <a href="">Novedades</a>
                </li>
                <li>
                    <a href="">Servicio al cliente </a>
                </li>
                <li>
                    <a href="">Nuestras tiendas</a>
                </li>
                <li>
                    <a routerLink="/catalogo-productos">Administrar Productos</a>
                </li>
            </ul>
            <div class="login-signup">
                <a routerLink="/login">Iniciar Sesión</a>
            </div>
        </nav>
        <div class="header-right">
            <div class="login-signup">
                <a routerLink="/login">Iniciar Sesión</a>  
            </div>
        </div>
        <label for="nav_check" class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
</body>
</html>
<router-outlet></router-outlet>