<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>productos</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
            />
            
     
    </head>
    <body>
        <div class ="Bienvenida">
            <h3> - CLOTHING STORE MODA FEMENINA - </h3>
            <p> Encuentras las últimas tendencias en moda ejecutiva femenina. Prendas exclusivas y versátiles.</p>
        </div>
        <div class="swiper mySwiper">
            <app-swiper-component></app-swiper-component>
        </div>
    

        
    </body>

</html>
<router-outlet></router-outlet>